svg {
  --purple: #61135f;
  --bg: #fff;
  --fg: #000;
  --face: 'Helvetica Neue', 'sans serif';
  --barfg: var(--bg);

  --unit: 10px;
  --basecolor: var(--purple);
  --barcolor: var(--basecolor);
}

svg {
  /* setting the width should disable the automatic sizing bit in JS */
  /* max-width: 100%; */
  font-size: var(--unit);
  font-family: var(--face);
}

g.button text {
  font-size: 110%;
  font-weight: bold;
}

#bar {
  fill: var(--barcolor);
}

.month-marker {
  fill: var(--barfg);
  font-weight: bold;
  font-size: 110%;
}

.task text {
  dominant-baseline: central;
}

.key-date {
  fill: var(--basecolor);
}

.key-date .date {
  font-weight: bold;
}

a[href]:hover text {
  text-decoration: underline;
}

a:not([href]) {
  cursor: default;
}

line.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

line.link.hidden {
  fill: none;
  stroke: none;
  stroke-width: 1.5px;
}

marker#level {fill: green;}

line.link.level {stroke: green;}

marker#core {  fill: green;}

line.link.core {  stroke: orange;}

marker#optional {  fill: teal;}

line.link.optional {  stroke-dasharray : 0,2 1;}
